@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<button @onclick="@OnClickHandlerAsync"
        class="btn-win @GetComponentClass() @Class"
        disabled="@(ParentDisabled | Disabled)"
        style="@Style">
	@ChildContent
</button>