@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<input type="checkbox" 
	   id="@ElementId"
	   class="chk-win-xp"
	   checked="@Checked"
	   disabled="@Disabled">
<label for="@ElementId"
	   class="chk-label-win-xp">@Label</label>