@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<input type="checkbox" 
       id="@ElementId"
       class="chk-win @GetComponentClass() @Class"
       checked="@Checked"
       disabled="@Disabled"
       @oninput="CheckboxChanged"
       style="@Style">
<label for="@ElementId">@Label</label>