@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<input type="checkbox" 
	   id="@ElementId"
	   class="chk-win @GetComponentClass()"
	   checked="@Checked"
	   disabled="@Disabled"
	   @oninput="CheckboxChanged">
<label for="@ElementId"
	   class="chk-label-win-xp">@Label</label>