@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<input type="checkbox" 
       id="@ElementId"
       class="chk-win @GetComponentClass() @Class"
       checked="@Checked"
       disabled="@(ParentDisabled | Disabled)"
       @oninput="CheckboxChanged"
       style="@Style"
       @attributes="Attributes">
<label for="@ElementId">@Label</label>