@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

@implements IDisposable

@if (IsSeparator)
{
    <li role="separator" class="menu-separator-win @GetSeparatorClass()"></li>
}
else if (_isRootLevel && !(RootMenu?.IsContextMenu ?? false))
{
    <div role="none"
         class="menu-win-root-item @(_isOpen ? "open" : "")"
         @onclick:stopPropagation
         @onmouseenter="OnMouseEnter">

        <span role="menuitem"
              class="menu-label-win @GetLabelClass()"
              aria-haspopup="@(ChildContent is not null ? "menu" : null)"
              aria-expanded="@(ChildContent is not null ? _isOpen : null)"
              aria-disabled="@(ParentDisabled | Disabled)"
              disabled="@(ParentDisabled | Disabled)"
              @onclick="OnLabelClick">@Label</span>

        @if (ChildContent is not null)
        {
            <WinOldMenu IsOpen="_isOpen">@ChildContent</WinOldMenu>
        }
    </div>
}
else
{
    <li role="none"
        class="menu-sub-win-item @(_isOpen ? "open" : "") @(Disabled ? "disabled" : "")"
        @onmouseenter="OnMouseEnter"
        @ontouchend="OnTouchEnd">

        <span role="menuitem"
              class="menu-label-win @GetLabelClass()"
              aria-haspopup="@(ChildContent is not null ? "menu" : null)"
              aria-expanded="@(ChildContent is not null ? _isOpen : null)"
              aria-disabled="@(ParentDisabled | Disabled)"
              disabled="@(ParentDisabled | Disabled)"
              @onclick="OnLabelClick">
            @Label
            @if (!string.IsNullOrEmpty(Shortcut))
            {
                <span class="menu-shortcut-win">@Shortcut</span>
            }
            @if (ChildContent is not null)
            {
                <span class="menu-arrow-win @GetArrowClass()"></span>
            }
        </span>

        @if (ChildContent is not null)
        {
            <WinOldMenu IsOpen="_isOpen">@ChildContent</WinOldMenu>
        }
    </li>
}