@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

@typeparam T

<CascadingValue Value="this" IsFixed="true">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@_selectId" class="label-txt-win">@Label</label>
    }
    <select id="@_selectId"
            class="select-win @GetComponentClass() @Class"
            style="@Style"
            disabled="@(ParentDisabled | Disabled)"
            @onchange="OnChange"
            @attributes="Attributes">
        @ChildContent
    </select>
</CascadingValue>