@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

@if (IsVisible)
{
	<div class="inp-win-backdrop">
		<div @ref="_windowRef"
			 role="dialog"
			 aria-modal="true"
			 aria-labelledby="@_titleId"
			 class="inp-win @GetInputBoxClass()">
			<div @ref="_titleBarRef" class="@GetTitleBarClass() active">
				<div id="@_titleId" class="@GetTitleBarTextClass()">@Options.Title</div>
				<div class="@GetTitleBarControlsClass()">
					<button aria-label="Close" @onclick="HandleCancel"></button>
				</div>
			</div>
			<div class="inp-win-container @GetInputBoxBodyClass()">

				<div class="inputbox-row">
					<div class="@GetInputBoxContentClass()">@Options.Message</div>

					<div class="actions">
						<WinOldButton OnClick="HandleOk"
									  Appearance="Options.Appearance"
						              Default="true">@Options.OkButtonText</WinOldButton>
						@if (!string.IsNullOrEmpty(Options.CancelButtonText))
						{
						<WinOldButton OnClick="HandleCancel"
									  Appearance="Options.Appearance">@Options.CancelButtonText</WinOldButton>
						}
					</div>
				</div>

				<div class="input-text">
                    @switch (Options.InputType)
                    {
                        case InputBoxType.Text:
                            <WinOldTextBox @ref="TextBoxRef"
                                           Appearance="Options.Appearance"
                                           InputStyle="width: 100%"
                                           Value="@(Options.Value?.ToString() ?? string.Empty)"
                                           ValueChanged="OnTextChanged" />
                            break;
                        
                        case InputBoxType.Integer:
                            <WinOldNumberBox @ref="NumberBoxIntRef"
                                             TValue="int"
                                             Appearance="Options.Appearance"
                                             InputStyle="width: 100%"
                                             @bind-Value="IntValue"
                                             Min="@Options.Min"
                                             Max="@Options.Max"
                                             Step="@(Options.Step ?? "1")" />
                            break;
                        
                        case InputBoxType.Decimal:
                            <WinOldNumberBox @ref="NumberBoxDecimalRef"
                                             TValue="decimal"
                                             Appearance="Options.Appearance"
                                             InputStyle="width: 100%"
                                             @bind-Value="DecimalValue"
                                             Min="@Options.Min"
                                             Max="@Options.Max"
                                             Step="@(Options.Step ?? "0.01")" />
                            break;
                        
                        case InputBoxType.Double:
                            <WinOldNumberBox @ref="NumberBoxDoubleRef"
                                             TValue="double"
                                             Appearance="Options.Appearance"
                                             InputStyle="width: 100%"
                                             @bind-Value="DoubleValue"
                                             Min="@Options.Min"
                                             Max="@Options.Max"
                                             Step="@(Options.Step ?? "0.01")" />
                            break;
                    }
				</div>
			</div>
		</div>
	</div>
}

<DraggableWindow @ref="_draggable" />