@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<label for="@ElementId"
       class="label-txt-win @GetComponentLabelClass()"
       disabled="@(ParentDisabled | Disabled)" >
       @Label</label>
<input @ref="InputElement"
       type="text"
       id="@ElementId" 
       class="txt-win @GetComponentClass() @Class"
       disabled="@(ParentDisabled | Disabled)"
       style="@Style"
       @attributes="Attributes"
       @bind="Value"
       @oninput="OnValueChanged" />
