@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<label for="@ElementId"
       class="label-txt-win">@Label</label>
<input type="text"
       id="@ElementId" 
       class="txt-win @GetComponentClass() @Class"
       disabled="@(ParentDisabled | Disabled)"
       style="@Style" />
