@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase
<div>
	<input type="radio" 
		   id="@ElementId"
		   role="radio" 
		   name="@RadioGroup"
		   checked="@Checked"
		   disabled="@(ParentDisabled | Disabled)"
		   class="opt-win @GetComponentClass()">
	<label for="@ElementId">@Label</label>
</div>