@page "/"

@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="desktop" style="background-color: @GetDesktopColor();">
	<WinOldCheckBox Appearance="appearance"
					Label="Disable this frame :"
					CheckedChanged="@disabledComponents" />

	<WinOldSelect Appearance="appearance"
				  @bind-Value="appearance"
				  T="Appearance"
				  Disabled="_disabledComponents">
		<WinOldOption Value="Appearance.WinXP">Win XP style</WinOldOption>
		<WinOldOption Value="Appearance.Win98">Win 98 style</WinOldOption>
		<WinOldOption Value="Appearance.Win7">Win 7 style</WinOldOption>
	</WinOldSelect>

</div>


<WinOldFrame Appearance="appearance"
			 Label="Frame"
			 Disabled="_disabledComponents">
	<WinOldTextBox Appearance="appearance"
				   Label="Textbox :"
				   @bind-Value="SelectRadioString" />

	<WinOldLabel Appearance="appearance">
		Label : @SelectedRadio.ToString()
	</WinOldLabel>

	<WinOldButton OnClick="ClickMe"
				  Appearance="appearance">Click me</WinOldButton>

	<WinOldOptionButtonGroup T="int"
							 @bind-Value="SelectedRadio"
							 Appearance="appearance">
		<WinOldOptionButton Label="Adrien" Value="1" />
		<WinOldOptionButton Label="Christophe" Value="2" />
		<WinOldOptionButton Label="Denis" Value="3" />
	</WinOldOptionButtonGroup>
</WinOldFrame>


<WinOldTabs Appearance="appearance"
			Style="max-width: 500px">
	<WinOldTabPanel Label="Tab A">
		<p>Contents of first tab</p>
	</WinOldTabPanel>

	<WinOldTabPanel Label="Tab B">
		<p>Contents of second tab</p>
	</WinOldTabPanel>

	<WinOldTabPanel Label="MessageBox" IsDefault="true">
		<div style="display:flex;gap: 10px;">
			<WinOldFrame Appearance="appearance"
						 Label="Icon"
						 Disabled="_disabledComponents"
						 Style="flex: 1;">

				<WinOldOptionButtonGroup T="Icon"
										 @bind-Value="iconMessage"
										 Appearance="appearance">
					<WinOldOptionButton Label="None" Value="Icon.None" />
					<WinOldOptionButton Label="Alert" Value="Icon.Alert" />
					<WinOldOptionButton Label="Critical" Value="Icon.Critical" />
					<WinOldOptionButton Label="Information" Value="Icon.Information" />
					<WinOldOptionButton Label="Question" Value="Icon.Question" />
				</WinOldOptionButtonGroup>

			</WinOldFrame>

			<WinOldFrame Appearance="appearance"
						 Label="Buttons"
						 Disabled="_disabledComponents"
						 Style="flex: 1;">

				<WinOldTextBox Appearance="appearance"
							   Label="Message title :"
							   @bind-Value="MessageTitle" />
				<br />
				<WinOldTextBox Appearance="appearance"
							   Label="Name of OK Button :"
							   @bind-Value="ButtonNameOK" />
				<br />
				<WinOldTextBox Appearance="appearance"
							   Label="Name of Cancel Button :"
							   @bind-Value="ButtonNameCancel" />
			</WinOldFrame>
		</div>

		<div style="margin-top:6px;display: flex;justify-content: center;">
			<WinOldButton OnClick="ClickMe"
						  Appearance="appearance">Show MessageBox</WinOldButton>
		</div>
	</WinOldTabPanel>

</WinOldTabs>

<h2 class="py-3">Label</h2>
<WinOldLabel Appearance="appearance">
	Selected Value: @_selectedValue
</WinOldLabel>




<h2 class="py-3">Textbox</h2>

<WinOldTextBox Appearance="Appearance.WinXP"
			   Label="Textbox :" />

<br />
<WinOldTextBox Appearance="Appearance.Win98"
			   Label="Textbox :" />

<br />
<WinOldTextBox Appearance="Appearance.Win7"
			   Label="Textbox :" />


<h2 class="py-3">Frame</h2>

<WinOldCheckBox Appearance="Appearance.Win98"
				Label="Disable win 98 Frame"
				@bind-Value="_disabled98" />

<WinOldFrame Appearance="Appearance.Win98"
			 Label="Frame 98"
			 Border="Border.Default"
			 Disabled="_disabled98">
	<p>@SelectRadioString</p>
	<WinOldOptionButtonGroup Appearance="Appearance.Win98"
							 @bind-Value="SelectRadioString"
							 T="string">
		<WinOldOptionButton Label="Adrien" Value="@("Adrien")" />
		<WinOldOptionButton Label="Christophe" Value="@("Christophe")" />
		<WinOldOptionButton Label="Denis" Value="@("Denis")" />
	</WinOldOptionButtonGroup>
</WinOldFrame>

<br />


<WinOldCheckBox Appearance="Appearance.Win7"
				Label="Disable win 7 Frame"
				CheckedChanged="@disabled7Frame" />

<WinOldFrame Appearance="Appearance.Win7"
			 Label="Frame 7"
			 Disabled="_disabled7">
	<WinOldOptionButtonGroup Appearance="Appearance.Win7"
							 T="string">
		<WinOldOptionButton Label="Adrien" Value="@("Adrien")" />
		<WinOldOptionButton Label="Christophe" Value="@("Christophe")" />
		<WinOldOptionButton Label="Denis" Value="@("Denis")" />
	</WinOldOptionButtonGroup>
</WinOldFrame>



@code {
	private bool _disabledComponents;
	private bool _disabled98;
	private bool _disabled7;

	private string? _selectedValue = "dog";

	private int SelectedRadio { get; set; } = 2;
	private string SelectRadioString { get; set; } = "Christophe";
	private int SelectedOption { get; set; } = 2;

	private Appearance appearance { get; set; } = Appearance.WinXP;
	private Icon iconMessage { get; set; } = Icon.Information;
	 
	private string MessageTitle { get; set; } = "Title";
	private string ButtonNameOK { get; set; } = "OK";
	private string ButtonNameCancel { get; set; } = "";

	async Task ClickMe()
	{
		Console.WriteLine("Clicked!");

		var options = new DialogOptions
		{
			Appearance = appearance,
			Title = MessageTitle,
			Message = "Blazor is awesome!",
			Icon = iconMessage,
			OkButtonText = ButtonNameOK,
			CancelButtonText = ButtonNameCancel
		};
		var DialogResult = await DialogService.ShowMessageBox(options);
	}

	private void disabledComponents(bool value) => _disabledComponents = !_disabledComponents;

	private void disabled7Frame(bool value) => _disabled7 = !_disabled7;

	private string GetDesktopColor()
	{
		SystemColors.Appearance = appearance;
		var color = SystemColors.Desktop;
		return $"rgb({color.R}, {color.G}, {color.B})";
	}
}
