@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<WinOldSelect Appearance="appearance"
			  T="Appearance"
			  @bind-Value="appearance">
	<WinOldOption Value="Appearance.WinXP">Win XP</WinOldOption>
	<WinOldOption Value="Appearance.Win98">Win 98</WinOldOption>
	<WinOldOption Value="Appearance.Win7">Win 7</WinOldOption>
</WinOldSelect>

<WinOldButton OnClick="ClickMe"
			  Appearance="appearance">Click me</WinOldButton>

<WinOldCheckBox Appearance="appearance"
				Label="Disable XP Frame"
				CheckedChanged="@disabledXPFrame" />

<WinOldFrame Appearance="appearance"
			 Label="Frame"
			 Disabled="disabledXP">
	<WinOldTextBox Appearance="appearance"
				   Label="Textbox :"
				   @bind-Value="SelectRadioString" />

	<WinOldLabel Appearance="appearance">
		Label : @SelectedRadio.ToString()
	</WinOldLabel>

	<WinOldOptionButtonGroup T="int"
							 @bind-Value="SelectedRadio"
							 Appearance="appearance">
		<WinOldOptionButton Label="Adrien" Value="1" />
		<WinOldOptionButton Label="Christophe" Value="2" />
		<WinOldOptionButton Label="Denis" Value="3" />
	</WinOldOptionButtonGroup>
</WinOldFrame>


<h2 class="py-3">Buttons</h2>

<WinOldButton OnClick="ClickMe"
Appearance="Appearance.WinXP">Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
Appearance="Appearance.WinXP"
Disabled>Click me</WinOldButton>

<br />

<WinOldButton OnClick="ClickMe"
Appearance="Appearance.Win98"
>Click me</WinOldButton>

<WinOldButton OnClick="ClickMe" 
Appearance="Appearance.Win98"
Disabled>Click me</WinOldButton>

<br />
<WinOldButton OnClick="ClickMe"
Appearance="Appearance.Win7">Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
Appearance="Appearance.Win7"
Disabled>Click me</WinOldButton>



<h2 class="py-3">Checkbox</h2>

<WinOldCheckBox Checked="true"
Appearance="Appearance.WinXP"
Label="check box" />

<WinOldCheckBox Appearance="Appearance.WinXP"
Label="check box" />

<WinOldCheckBox Appearance="Appearance.WinXP"
Label="check box"
Disabled />

<br />

<WinOldCheckBox Checked="checkbox1"
Appearance="Appearance.Win98"
Label="check box"
CheckedChanged="@CheckedChanged" />

<WinOldCheckBox Appearance="Appearance.Win98"
Label="check box" />

<WinOldCheckBox Appearance="Appearance.Win98"
Label="check box"
Disabled />


<br />

<WinOldCheckBox Checked="checkbox1"
Appearance="Appearance.Win7"
Label="check box" />

<WinOldCheckBox Appearance="Appearance.Win7"
Label="check box" />

<WinOldCheckBox Appearance="Appearance.Win7"
Label="check box"
Disabled />


<h2 class="py-3">Textbox</h2>

<WinOldTextBox Appearance="Appearance.WinXP"
Label="Textbox :" />

<br />
<WinOldTextBox Appearance="Appearance.Win98"
Label="Textbox :" />

<br />
<WinOldTextBox Appearance="Appearance.Win7"
Label="Textbox :" />



<h2 class="py-3">DropDown</h2>

<WinOldSelect Appearance="Appearance.Win98"
			  T="string"
			  @bind-Value="SelectOptionString">
	<WinOldOption Value="@("Adrien")">Adrien</WinOldOption>
	<WinOldOption Value="@("Christophe")">Christophe</WinOldOption>
	<WinOldOption Value="@("Denis")">Denis</WinOldOption>
</WinOldSelect>

@SelectOptionString

<br />

<WinOldSelect Appearance="Appearance.Win7"
			  T="string">
	<WinOldOption Value="1">Adrien</WinOldOption>
	<WinOldOption Value="2">Christophe</WinOldOption>
	<WinOldOption Value="3">Denis</WinOldOption>
</WinOldSelect>

<h2 class="py-3">Frame</h2>

<WinOldCheckBox Appearance="Appearance.Win98"
                Label="Disable win 98 Frame"
                CheckedChanged="@disabled98Frame" />

<WinOldFrame Appearance="Appearance.Win98"
             Label="Frame 98"
             Border="Border.Default"
             Disabled="disabled98">
	<p>@SelectRadioString</p>
	<WinOldOptionButtonGroup Appearance="Appearance.Win98"
	                         @bind-Value="SelectRadioString"
	                         T="string">
		<WinOldOptionButton Label="Adrien" Value="@("Adrien")" />
		<WinOldOptionButton Label="Christophe" Value="@("Christophe")" />
		<WinOldOptionButton Label="Denis" Value="@("Denis")" />
	</WinOldOptionButtonGroup>
</WinOldFrame>

<br />


<WinOldCheckBox Appearance="Appearance.Win7"
                Label="Disable win 7 Frame"
                CheckedChanged="@disabled7Frame" />

<WinOldFrame Appearance="Appearance.Win7"
             Label="Frame 7"
             Disabled="disabled7">
	<WinOldOptionButtonGroup Appearance="Appearance.Win7"		  
							 T="string">
		<WinOldOptionButton Label="Adrien" Value="@("Adrien")" />
		<WinOldOptionButton Label="Christophe" Value="@("Christophe")" />
		<WinOldOptionButton Label="Denis" Value="@("Denis")" />
	</WinOldOptionButtonGroup>
</WinOldFrame>


<h2 class="py-3">Label</h2>

<WinOldLabel Appearance="Appearance.WinXP">
	Hello World
</WinOldLabel>


@code {
	bool disabledXP;
	bool disabled98;
	bool disabled7;
	bool checkbox1 = true;

	int SelectedRadio { get; set; } = 2;
	string SelectRadioString { get; set; } = "Christophe";
	int SelectedOption { get; set; } = 2;
	string SelectOptionString { get; set; } = "Denis";

	Appearance appearance { get; set; } = Appearance.WinXP;

	void ClickMe()
	{
		Console.WriteLine("Clicked!");
	}

	void CheckedChanged(bool value)
	{
		Console.WriteLine($"Checkbox changed {value}");
	}

	void disabledXPFrame(bool value) => disabledXP = !disabledXP;

	void disabled98Frame(bool value) => disabled98 = !disabled98;

	void disabled7Frame(bool value) => disabled7 = !disabled7;
}
