@page "/menu-page"

<PageTitle>Menu</PageTitle>

<h3>Menu (WIP)</h3>

<div>
    <WinOldMenu Appearance="Appearance.Win98">

        <WinOldMenuItem Label="File">
            <WinOldMenuItem Label="New"        OnClick="@(() => DoAction("New"))" />
            <WinOldMenuItem Label="Open..."      OnClick="@(() => DoAction("Open"))" />
            <WinOldMenuItem Label="Save" Disabled="true" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Export"       Disabled />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Exit"        OnClick="@(() => DoAction("Exit"))" />
        </WinOldMenuItem>
        <WinOldMenuItem Label="View">
            <WinOldMenuItem Label="Zoom +"     OnClick="@(() => DoAction("Zoom +"))" />
            <WinOldMenuItem Label="Zoom -"   OnClick="@(() => DoAction("Zoom -"))" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Disposition">
                <WinOldMenuItem Label="Classic"  OnClick="@(() => DoAction("Classic"))" />
                <WinOldMenuItem Label="Compact"   OnClick="@(() => DoAction("Compact"))" />
                <WinOldMenuItem Label="Étendue"    OnClick="@(() => DoAction("Étendue"))" />
            </WinOldMenuItem>
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Full screen"    OnClick="@(() => DoAction("Full screen"))" />
        </WinOldMenuItem>
        
        <WinOldMenuItem Label="Win 98" Disabled="true">
        </WinOldMenuItem>
        <WinOldMenuItem Label="Help">
            <WinOldMenuItem Label="Documentation"  OnClick="@(() => DoAction("Documentation"))"/>
            <WinOldMenuItem Label="About..."    OnClick="@(() => DoAction("About"))" />
        </WinOldMenuItem>

    </WinOldMenu>

    <div style="padding: 16px;">
        <p>Dernière action : <strong>@_lastAction</strong></p>
    </div>

</div>

<div>
    <WinOldMenu Appearance="Appearance.WinXP">

        <WinOldMenuItem Label="File">
            <WinOldMenuItem Label="New" OnClick="@(() => DoAction("New"))" />
            <WinOldMenuItem Label="Open..." OnClick="@(() => DoAction("Open"))" />
            <WinOldMenuItem Label="Save" Disabled="true" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Export" Disabled />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Exit" OnClick="@(() => DoAction("Exit"))" />
        </WinOldMenuItem>
        
        <WinOldMenuItem Label="View">
            <WinOldMenuItem Label="Zoom +" OnClick="@(() => DoAction("Zoom +"))" />
            <WinOldMenuItem Label="Zoom -" OnClick="@(() => DoAction("Zoom -"))" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Disposition">
                <WinOldMenuItem Label="Classic" OnClick="@(() => DoAction("Classic"))" />
                <WinOldMenuItem Label="Compact">
                    <WinOldMenuItem Label="Small" OnClick="@(() => DoAction("Small"))" />
                    <WinOldMenuItem Label="Large" OnClick="@(() => DoAction("Large"))" />
                    <WinOldMenuItem Label="Extra" OnClick="@(() => DoAction("Extra"))" />
                </WinOldMenuItem>
                <WinOldMenuItem Label="Étendue" OnClick="@(() => DoAction("Étendue"))" />
            </WinOldMenuItem>
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Full screen" OnClick="@(() => DoAction("Full screen"))" />
        </WinOldMenuItem>
        
        <WinOldMenuItem Label="Win XP" Disabled="true">
        </WinOldMenuItem>

        <WinOldMenuItem Label="Help">
            <WinOldMenuItem Label="Documentation" OnClick="@(() => DoAction("Documentation"))" />
            <WinOldMenuItem Label="About..." OnClick="@(() => DoAction("About"))" />
        </WinOldMenuItem>

    </WinOldMenu>

    <div style="padding: 16px;">
        <p>Dernière action : <strong>@_lastAction</strong></p>
    </div>

</div>

<div>

    <WinOldMenu Appearance="Appearance.Win7">

        <WinOldMenuItem Label="File">
            <WinOldMenuItem Label="New" OnClick="@(() => DoAction("New"))" />
            <WinOldMenuItem Label="Open..." OnClick="@(() => DoAction("Open"))" />
            <WinOldMenuItem Label="Save" Disabled="true" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Export" Disabled />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Exit" OnClick="@(() => DoAction("Exit"))" />
        </WinOldMenuItem>
        
        <WinOldMenuItem Label="View">
            <WinOldMenuItem Label="Zoom +" OnClick="@(() => DoAction("Zoom +"))" />
            <WinOldMenuItem Label="Zoom -" OnClick="@(() => DoAction("Zoom -"))" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Disposition">
                <WinOldMenuItem Label="Classic" OnClick="@(() => DoAction("Classic"))" />
                <WinOldMenuItem Label="Compact" OnClick="@(() => DoAction("Compact"))" />
                <WinOldMenuItem Label="Étendue" OnClick="@(() => DoAction("Étendue"))" />
            </WinOldMenuItem>
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Full screen" OnClick="@(() => DoAction("Full screen"))" />
        </WinOldMenuItem>

        <WinOldMenuItem Label="Win 7" Disabled="true">
        </WinOldMenuItem>

        <WinOldMenuItem Label="Help">
            <WinOldMenuItem Label="Documentation" OnClick="@(() => DoAction("Documentation"))" />
            <WinOldMenuItem Label="About..." OnClick="@(() => DoAction("About"))" />
        </WinOldMenuItem>

    </WinOldMenu>

    <div style="padding: 16px;">
        <p>Dernière action : <strong>@_lastAction</strong></p>
    </div>

</div>

<div>

    <WinOldMenu Appearance="Appearance.Win10">

        <WinOldMenuItem Label="File">
            <WinOldMenuItem Label="New" OnClick="@(() => DoAction("New"))" />
            <WinOldMenuItem Label="Open..." OnClick="@(() => DoAction("Open"))" />
            <WinOldMenuItem Label="Save" Disabled="true" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Export" Disabled />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Exit"  />
        </WinOldMenuItem>
        
        <WinOldMenuItem Label="View">
            <WinOldMenuItem Label="Zoom +" OnClick="@(() => DoAction("Zoom +"))" />
            <WinOldMenuItem Label="Zoom -" OnClick="@(() => DoAction("Zoom -"))" />
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Disposition">
                <WinOldMenuItem Label="Classic" OnClick="@(() => DoAction("Classic"))" />
                <WinOldMenuItem Label="Compact" OnClick="@(() => DoAction("Compact"))" />
                <WinOldMenuItem Label="Étendue" OnClick="@(() => DoAction("Étendue"))" />
            </WinOldMenuItem>
            <WinOldMenuItem IsSeparator />
            <WinOldMenuItem Label="Full screen" OnClick="@(() => DoAction("Full screen"))" />
        </WinOldMenuItem>
        
        <WinOldMenuItem Label="Win 10" Disabled="true">
        </WinOldMenuItem>

        <WinOldMenuItem Label="Help">
            <WinOldMenuItem Label="Documentation" OnClick="@(() => DoAction("Documentation"))" />
            <WinOldMenuItem Label="About..." OnClick="@(() => DoAction("About"))" />
        </WinOldMenuItem>

    </WinOldMenu>

    <div style="padding: 16px;">
        <p>Last action : <strong>@_lastAction</strong></p>
    </div>

</div>
@code {
    private string _lastAction = "(nothing)";

    private void DoAction(string action)
    {
        _lastAction = action;
    }
}