@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<section>
	<menu role="tablist" 
		  style="@Style"
		  class="tabs-list @Class">
		@foreach (var tabPanel in TabPanels)
		{
			<button role="tab"	
				    class="tabs-win @GetComponentClass() @GetActiveTabClass(tabPanel) "
					disabled="@tabPanel.Disabled"
					@onclick="() => SelectTab(tabPanel)"
					@attributes="Attributes">
			@tabPanel.Label
		</button>
		}
	</menu>
	<CascadingValue Value="this">
		@ChildContent
	</CascadingValue>
</section>