@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<section>
	<menu role="tablist" class="tabs-list">
		@foreach (var tabPanel in TabPanels)
		{
			<button role="tab"
					style="@Style"
				    class="tabs-win @GetComponentClass() @GetActiveTabClass(tabPanel) @Class"
					@onclick="() => SelectTab(tabPanel)"
					@attributes="Attributes">
			@tabPanel.Label
		</button>
		}
	</menu>
	<CascadingValue Value="this">
		@ChildContent
	</CascadingValue>
</section>